
/*article*/
.seccionTitle{
	font-size:3vw;
	border-bottom: 4px solid #27496d;
	text-align:center;
	margin:auto;
	margin-bottom:50px;	
}
#recentNews{
	width:80%;
	margin:0px 10% 0px 10%;
	overflow:auto;
	
}
#recentNews>.articleContainer{
	display: flex;
	align-items: center;
	justify-content: center;
}

/*MONTHLY*/
#allNews{
	width:80%;
	margin:50px 10% 50px 10%;
	
}
#allNews>.articleContainer{
	
	max-height:500px;
	overflow-y:scroll;
	overflow-x:hidden;
	width:100%;
	display: block;
	align-items: center;
	justify-content: center;
}
#allNews>.articleContainer .article{
	width:45%;
	margin:10px 2.5% 10px 2.5%;
}
.articleContainer>h1{
	width:100%;
	text-align:center;
}
.fixedSizeArticle{
	width:100%;
	
	margin:10px 0px 10px 21%;
	text-align:center;
	border-top:2px solid black;
	border-left:2px solid black;
	box-shadow: 2.5px 5px  #888888;
	padding:5px;
	
}
