#header{
	width:100%;
	border-bottom: 4px solid #27496d;
	background-color:#F0F0F0;
	z-index:100;
	min-height:100px;
	top: 0;
	
}
#textInput{
	width:100%;
	
}
#searchBar{
	width: 80%;
	margin-left:10%;
	margin-right:10%;
	margin-bottom:50px;
}
.container{
	margin-right:10px;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
#submitBtn{
	
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline;
	cursor: pointer;
	font-size: 1.2vw;
	border:none;
	background-color:#73c2fb;
	font-weight:bold;
}
#submitBtn:hover{
	border:1px solid black;
	
}
/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
 
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



input {
  /* In order to define widths */
  display: inline-block;
 
  
}

label {
  width: 30%;
  /* Positions the label text beside the input */
  text-align: right;
  font-size:1.5vw;
}

label+input {
  width: 30%;
  /* Large margin-right to force the next element to the new-line
           and margin-left to create a gutter between the label and input */
  margin: 0 30% 0 4%;
}
/*BTN*/
#headerButton{
	width:100%;
	background-color:#27496d;
	cursor: pointer;
	text-align:right;
	font-size:2.5vw;
	color:white;
	font-weight:bold;
	padding-right:50px;
	
	
}
.hide{
	-webkit-animation-name: hide;
	-webkit-animation-duration: 1s;
	animation-name: hide;
	animation-duration: 2s;
}
.show{
	-webkit-animation-name: show;
	-webkit-animation-duration: 1s;
	animation-name: show;
	animation-duration: 2s;
}
@-webkit-keyframes show {
   from {
    transform: translateY(-700px);
   
  }
  to {
    transform: translateY(0);
   
  }
}

@keyframes show {
   from {
    transform: translateY(-700px);
   
  }
  to {
    transform: translateY(0);
   
  }
}
@-webkit-keyframes hide {
   from {
    transform: translateY(0);
   
  }
  to {
     transform: translateY(-700px);
  
  }
}

@keyframes hide {
from {
    transform: translateY(0);
   
  }
  to {
     transform: translateY(-700px);
   
  }
}
/*ARTICLES*/
#overlay{
	width:100%;
	height:100%;
	background:black;
	z-index:1000;
	opacity:1;
	position:absolute;
	top:0px;
	left:0px;
	color:white;
	font-size:2vw;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	display:none;
}
.loader {
	position:absolute;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	min-height:120px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
	top:50%;
	left:50%;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.article{
	width:45%;
	float:left;
	margin:10px 10px 10px 10px;
	text-align:center;
	border-top:2px solid black;
	border-left:2px solid black;
	box-shadow: 2.5px 5px  #888888;
	padding:5px;
	position:relative;
	cursor: pointer;
	min-width:400px;
}
.articleTags{
	position:absolute;
	top:0;
	left:0px;
	min-height:20px;
	max-width:100%;
	min-width:20%;
	font-size:1.3vw;
	background-color:white;
	border:2px solid black;
	font-weight:bold;
}
.article>h1{
	width:100%;
	float:left;
	text-align:center;
	
}
.imageContainer{
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.imgContainer>img{
	max-width:90%;
	max-height:400px;
	
}
.articleData{
	width:100%;
	min-height:20px;
}
.articleAutor{
	width:70%;
	font-size:1.5vw;
	float:left;
	min-height:20px;
	text-align:center;
	font-weight:bold;
}
.articleDate{
	width:30%;
	font-size:1.5vw;
	color:grey;
	float:left;
	min-height:20px;
	text-align:center-right;
}
.articleSample{
	margin-top:10%;
	width:100%;
	max-height:200px;
	text-align:center;
	overflow:hidden;
}
#newsContainer{
	width:80%;
	margin:50px 10% 50px 10%;

	
}
#newsContainer>.articleContainer{
	display:inline-block;
	max-height:500px;
	overflow-y:scroll;
	overflow-x:hidden;
	width:100%;
}
.articleContainer>h1{
	
	width:100%;
	text-align:center;
}
/*footer*/
#footer{
	border-top:4px solid black;
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color:#00416a;
	margin-top:50px;
	color:white;
}
.nameContainer{
	font-size:1.5vw;
	float:left;
	max-height:200px;
	margin:0px 0px 0px 0px;
}
.footerContainer{
	float:left;
	max-height:200px;
	margin:10px 0px 10px 0px;
	font-size:1.3vw;
	padding:5px;
}
.contactContainer{
	border-left:2px solid black;
}
.legalContainer{
	border-left:2px solid black;

}
ul {
  list-style-type: none;
  padding:5px;
}
/*LINKS*/
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}