#overlay{
	width:100%;
	height:100%;
	background:black;
	z-index:1000;
	opacity:1;
	position:absolute;
	top:0px;
	left:0px;
	color:white;
	font-size:2vw;
	  user-select: none;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		-o-user-select: none;
}

.loader {
	position:absolute;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	min-height:120px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
	top:50%;
	left:50%;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/**HEADER**/
#nonStickHeader{
	width:100%;
	font-size: 3vw;
	text-align:center;
	height:100px;
	padding:0px 50px 10px 50px
}
#header{
	width:100%;
	max-height:100px;
	border-bottom: 4px solid #27496d;

	background-color:#F0F0F0;
	color:white;
	text-decoration:bold;
	text-shadow:1px 1px black;	
	z-index:100;
	min-height:100px;
	
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.logoContainer{
	width:20%;
	height:100px;
	
	float:left;
	vertical-align: middle;
	position: relative;
}
.logoContainer > img{
	width:50px;
	height:50px;
	position: absolute;  
	top: 0;  
	bottom: 0;  
	left: 0;  
	right: 0;  
	margin: auto;
	
}
#headerContainer{

}
.headerBtn{
	
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline;
	cursor: pointer;
	width:15%;
	font-size: 1.2vw;
	border:none;
	min-height:80px;
}
.headerBtn:hover{
	background-color:#DBDBDB;
}
#accordion {
 
  transition: 0.4s;
}

.active, #accordion:hover {
 background-color:#DBDBDB;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
 width:15%;
}
.panelBtn{
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: block;
	cursor: pointer;
	width:15%;
	float:left;
	font-size: 1.2vw;
	border:none;
	min-height:80px;
	
}
/*sidenav*/
#sidenavBtn{
	font-size:50px;
	cursor:pointer ;
	color:#738276;
	float:right;
	margin-right:40px;
}
.active, .collapsible:hover {
  background-color: #555;
}
#container{
width:80%;
margin:20px 10% 20px 10%;
display: block;
margin-left: auto;
margin-right: auto;
}
.bussinessContaner{
 width:80%;
font-size:1.5vw; 
cursor: pointer;
min-height:250px;
margin-top:10px;
margin-bottom:10px;
margin-left:10%;
margin-right:10%;
}
.clearer {
     clear: both;
}
.bussinessContaner:hover{
 box-shadow: 2px 2px 2px 2px #888888;

}
.leftContainer{
	float:left;
	width:45%;
	border-left:solid 2px grey;
	border-right:dotted  1px grey;
}
.leftContainer>img{
	vertical-align: middle;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}
.rightContainer{
	float:right;
	width:45%;
	border-right:solid 2px grey;
}
#title{
	font-size:3vw;
	margin-left:30%;
	margin-right:30%;
	text-align:center;
	margin-bottom:50px;
	border-bottom:solid 4px grey;
	
}
/*SCRAPPED
.sidenav {
 
	float:right;
	width:20%;
	min-width:150px;
	transition: 0.5s;
	border: 4px solid #27496d;
	background-color:#000000;
	color:white;
	text-decoration:bold;
	text-shadow:1px 1px black;	
	z-index:100;
}

.sidenav >button {
	background-color:#F0F0F0;
	width:100%;
	text-align:center;
   padding: 8px;
   text-decoration: none;
   font-size: 2vw;
   color: #818181;
	transition: 0.3s;
}

.sidenav button:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  color:white;
  font-size: 36px;
 float:right;
 background-color:#000000;
}

#mySidenav{
	height: 100%;
	width:300px;
	display:none;
	
}
*/
/*footer*/
#footer{
	border-top:4px solid black;
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color:#00416a;
	margin-top:50px;
	color:white;
}
.nameContainer{
	font-size:1.5vw;
	float:left;
	max-height:200px;
	margin:0px 0px 0px 0px;
}
.footerContainer{
	float:left;
	max-height:200px;
	margin:10px 0px 10px 0px;
	font-size:1.3vw;
	padding:5px;
}
.contactContainer{
	border-left:2px solid black;
}
.legalContainer{
	border-left:2px solid black;

}
ul {
  list-style-type: none;
  padding:5px;
}
/*LINKS*/
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
