<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="DEMO RIVERA JJ" content="">
		<meta name="keywords" content="">
		<meta name="author" content="Jose Juan Porras">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
		<link rel="stylesheet"  href="stylesheet.css">
		<script type="text/javascript" src="scripts/scripts.js"></script> 
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	</head>
	<body onload="loader()">
		<div id="overlay"></div>
			
		
		<div id="mySidenav" class="sidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<a href="#">About</a>
			<a href="#">Services</a>
			<a href="#">Clients</a>
			<a href="#">Contact</a>
		</div>
		<div id="title_img">
			<div id="title_background ">
				<div class="mySlides fade">
					<div class="polaroid">
					<img src="imgs/placeholder1.gif" style="width:100%">
					<div class="container">
						<p>lugar 1</p>
					</div>
					</div>
				</div>

				<div class="mySlides fade">
					<div class="polaroid">
					<img src="imgs/placeholder2.gif" style="width:100%">
					<div class="container">
						<p>lugar 2</p>
					</div>
					</div>
				</div>

				<div class="mySlides fade">
					<div class="polaroid">
					<img src="imgs/placeholder3.gif" style="width:100%">
					<div class="container">
						<p>lugar 3</p>
					</div>
					</div>
				</div>

			</div>
		</div>
		<div id="title_overlay">
			<div class="overlay_margin" onclick="plusSlides(-1)">
				<a class="prev">&#10094;</a>
			</div>
			<div id="overlay_center">
				<h1> Title</h1>
				<span id="sidenavBtn" onclick="openNav()">&#9776;</span>	
		
			</div>
			<div class="overlay_margin" onclick="plusSlides(1)">
				<a class="prev">&#10095;</a>
			</div>
		</div>		
		<div id="blog">
			<div class="blogDiv">
				<img class="left" src="imgs/placeholder4.jpg"/>
			
				<p>Etiam magna arcu, rhoncus ut felis quis, porta facilisis orci. Nulla efficitur ullamcorper lacus non hendrerit. Cras ipsum nisi, pretium viverra varius in, tincidunt nec leo. Nulla condimentum, augue et pretium luctus, ante neque tristique dolor, in suscipit lectus neque vitae tortor. Etiam condimentum cursus iaculis. Cras egestas nulla eu ipsum dapibus tincidunt. In sit amet risus posuere lacus molestie vulputate. Maecenas vestibulum tempus metus, sit amet finibus dolor mattis a. Phasellus vel ultrices felis.</p>
			</div>
			<div  class="blogDiv">
				<p class="leftP">Etiam magna arcu, rhoncus ut felis quis, porta facilisis orci. Nulla efficitur ullamcorper lacus non hendrerit. Cras ipsum nisi, pretium viverra varius in, tincidunt nec leo. Nulla condimentum, augue et pretium luctus, ante neque tristique dolor, in suscipit lectus neque vitae tortor. Etiam condimentum cursus iaculis. Cras egestas nulla eu ipsum dapibus tincidunt. In sit amet risus posuere lacus molestie vulputate. Maecenas vestibulum tempus metus, sit amet finibus dolor mattis a. Phasellus vel ultrices felis.</p>
				<img class="right" src="imgs/placeholder5.jpg"/>
				
			</div>
			
		</div>
	
		
	</body>
</html>